# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
venv/
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Outputs & data
outputs/
data/
*.mov
*.avi
*.mkv
*.jpg
*.png
*.mp4


# Keep only this trained model
!Code/runs/detect/train3/weights/best.pt

# Ignore all other weights explicitly
Code/runs/**/last.pt
Code/runs/**/best.pt
!Code/runs/detect/train3/weights/best.pt

# Ignore base yolov8/yolo weights if they appear in Code/
Code/yolo*.pt
Code/yolov*.pt

basketball-ball-detection-train_set-Job_2.coco/**

# YOLO runs: ignore everything
runs/**

# ...but keep model weights
!runs/**/*.pt

# (optional) keep only the final best.pt and ignore all other .pt
runs/**
!runs/detect/train3/weights/best.pt

Add-Content .gitignore "`n# Large archives`n*.zip`n"



# Logs
*.log
