# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
venv/
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Outputs & data
outputs/
data/
*.mov
*.avi
*.mkv
*.jpg
*.png


# YOLO / training runs
runs/
*.pt

!runs/
!runs/detect/
!runs/detect/train3/
!runs/detect/train3/weights/
!runs/detect/train3/weights/best.pt



# Logs
*.log
